<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>AdecarLtda</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
</head>

<body><span>{% extends 'layouts/base_dashboard.html' %}{% load plotly_dash %}{% load static %}{% block nav_lateral %}</span>
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="{% url 'home' %}"><div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-box-open" style="color: var(--bs-danger);"></i></div><div class="sidebar-brand-text mx-3"><span>Adecar Ltda.</span></div></a>
            <hr class="sidebar-divider my-0">
            <ul class="navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item"><a class="nav-link" href="{% url 'cotizacion_manual' %}"><i class="fas fa-file-invoice-dollar"></i><span>Cotización</span></a></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"><a class="nav-link active" href="#"><i class="fas fa-chart-bar"></i><span>Dashboard</span></a><a class="nav-link" href="{% url 'lista_historial' %}"><i class="fas fa-history"></i><span>Historial de Cotizaciones</span></a><a class="nav-link" href="{% url 'mantencion_planchas_form' %}"><i class="fas fa-cog"></i><span>Mantención de Planchas</span></a><a class="nav-link" href="{% url 'mantencion_parametros_form' %}"><i class="fas fa-cog"></i><span>Mantención de Parámetros</span></a><a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-external-link-alt"></i><span>Salir</span></a></li>
            </ul>
            <div class="text-center d-none d-md-inline"><button class="btn border-0 rounded-circle" id="sidebarToggle" type="button"></button></div>
        </div>
    </nav><span>{% endblock %}{% block nav_light %}{% endblock %}{% block section %}</span>
    <div class="dashboard" style="min-height: 500px;"><span> {% plotly_app name="HistorialDashboards" %}</span></div><span>{% endblock %}{% block main %}{% endblock %}{% block footer %}</span>
    <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>Copyright © Adecar - Cálculo y Cotizaciones 2023</span></div>
    </div><span>{% endblock %}{% block js %}{% endblock %}</span>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>