.menu-button {
    display: block;
    margin: 20px auto; /* Aumenta el margen vertical para separar los botones */
    max-width: 150px; /* Establece el ancho máximo que desees */
}

body {
    background-color: #273043; /* Cambia el fondo a #2b2d42 */
    color: white; /* Establece el color de texto en blanco */
}

.navbar {
    background-color: #9197ae;
}