{% extends 'layouts/base_nav_lateral.html' %}
{% load static %}


{% block nav_lateral %}
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-box-open" style="color: var(--bs-danger);"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Adecar Ltda.</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link active" href="#"><i class="fas fa-file-invoice-dollar"></i><span>Cotización</span></a></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item"><a class="nav-link" href="register.html"><i class="fas fa-th-list"></i><span>Cotizaciones Pendientes</span></a><a class="nav-link" href="profile.html"><i class="fas fa-history"></i><span>Historial de Cotizaciones</span></a><a class="nav-link" href="table.html"><i class="fas fa-cog"></i><span>Mantención de Planchas</span></a><a class="nav-link" href="login.html"><i class="fas fa-cog"></i><span>Mantención de Parámetros</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>
{% endblock %}

{% block section %}
<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Medidas de caja:</th>
                                        <th>{{largostr}} x {{anchostr}} x {{altostr}} (mm)</th>
                                    </tr>
                                    <tr>
                                        <th>Tipo de cartón:</th>
                                        <th>{{tipo_carton}}</th>
                                    </tr>
                                    <tr>
                                        <th>Cantidad:</th>
                                        <th>{{cantidad}} unidades</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Plancha a utilizar:</td>
                                        <td>{{plancha_necesaria.largo}} x {{plancha_necesaria.ancho}} (mm), {{plancha_necesaria.cod_carton}}</td>
                                    </tr>
                                    <tr>
                                        <td>Precio:</td>
                                        <td>${{plancha_necesaria.precio_proveedor}} pesos/hoja</td>
                                    </tr>
                                    <tr>
                                        <td>Hoja Madre:</td>
                                        <td>{{largo_hm_str}} x {{ancho_hm_str}} (mm)</td>
                                    </tr>
                                    <tr>
                                        <td>Excedente vertical:</td>
                                        <td>{{excedente_vertical}}</td>
                                    </tr>
                                    <tr>
                                        <td>Excedente horizontal:</td>
                                        <td>{{excedente_horizontal}}</td>
                                    </tr>
                                    <tr>
                                        <td>Cajas por hoja:</td>
                                        <td>{{total_cajas_por_plancha}}</td>
                                    </tr>
                                    <tr>
                                        <td>Costo excedente vertical:</td>
                                        <td>${{costo_ex_vertical}}</td>
                                    </tr>
                                    <tr>
                                        <td>Costo excedente horizontal:</td>
                                        <td>${{costo_ex_horizontal}}</td>
                                    </tr>
                                    <tr>
                                        <td>Precio costo por unidad:</td>
                                        <td>${{costo_por_unidad}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <iframe id="pdfViewer" style="width: 100%; height: 500px;" src="#"></iframe>
                            </div>
                        </div>
                        <div style="text-align: center;">
                            <button type="button" class="btn btn-primary btn-sm">Generar cotización</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Adecar - Cálculo y Cotizaciones 2023</span></div>
            </div>
        </footer>
    </div>
</div>

{% endblock %}



{% block main %}

{% endblock %}


{% block footer %}
<div class="container my-auto">
    <div class="text-center my-auto copyright"><span>Copyright © Adecar - Cálculo y Cotizaciones 2023</span></div>
</div>
{% endblock %}

{% block js %}
{% endblock %}
