{% extends 'layouts/base_nav_lateral.html' %}
{% load static %}


{% block nav_lateral %}
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-box-open" style="color: var(--bs-danger);"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Adecar Ltda.</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link active" href="#"><i class="fas fa-file-invoice-dollar"></i><span>Cotización</span></a></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item"><a class="nav-link" href="register.html"><i class="fas fa-th-list"></i><span>Cotizaciones Pendientes</span></a><a class="nav-link" href="profile.html"><i class="fas fa-history"></i><span>Historial de Cotizaciones</span></a><a class="nav-link" href="table.html"><i class="fas fa-cog"></i><span>Mantención de Planchas</span></a><a class="nav-link" href="login.html"><i class="fas fa-cog"></i><span>Mantención de Parámetros</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>
{% endblock %}


{% block nav_light %}

{% endblock %}

{% block section %}
<script>
    function validarFormulario() {
        var largo = parseFloat(document.getElementById('largo').value);
        var ancho = parseFloat(document.getElementById('ancho').value);
        var alto = parseFloat(document.getElementById('alto').value);
        var tipoCarton = document.querySelector('select[name="tipo_carton"]').value;

        if (largo <= 0 || ancho <= 0 || alto <= 0) {
            alert('Las medidas deben ser mayores que 0.');
            return false;
        }
        if (largo === 0 || ancho === 0 || alto === 0 || tipoCarton === '') {
            alert('Por favor, complete todos los campos.');
            return false;
        }
        if (largo.toString().length > 10 || ancho.toString().length > 10 || alto.toString().length > 10) {
            alert('Los campos numéricos no deben exceder los 10 caracteres.');
            return false;
        }

        // Confirmación de medidas y tipo de cartón antes de enviar el formulario
        var confirmacion = confirm(`¿Confirma que las medidas ingresadas son las deseadas?\nLargo: ${largo} mm\nAncho: ${ancho} mm\nAlto: ${alto} mm\nTipo de Cartón: ${tipoCarton}`);
        return confirmacion;
    }
</script>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <div class="card mb-5">
                <div class="card-body p-4">
                    <img src="{% static 'img/cropped-adecarlogoweb.png' %}" class="img-fluid d-block mx-auto mb-3" alt="Logo" style="max-width: 200px;">
                    <h2 class="text-center mb-4">Cotización Manual</h2>
                    <form method="post" action="{% url 'procesar_datos' %}" onsubmit="return validarFormulario()">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input class="form-control" type="number" id="largo" name="largo" placeholder="Largo (mm)" min="0" step="any" required maxlength="10">
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="number" id="ancho" name="ancho" placeholder="Ancho (mm)" min="0" step="any" required maxlength="10">
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="number" id="alto" name="alto" placeholder="Alto (mm)" min="0" step="any" required maxlength="10">
                        </div>
                        <div class="mb-3">
                            <select class="form-select" name="tipo_carton" required>
                                <option value="">Seleccionar tipo de cartón</option>
                                <option value="12-c">12 - C</option>
                                <option value="20-c">20 - C</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <input type="submit" class="btn btn-primary w-100" value="Enviar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        {% if mensaje_error %}
            <div class="alert alert-danger" role="alert">
                {{ mensaje_error }}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}



{% block main %}

{% endblock %}


{% block footer %}
<div class="container my-auto">
    <div class="text-center my-auto copyright"><span>Copyright © Adecar - Cálculo y Cotizaciones 2023</span></div>
</div>
{% endblock %}