{% extends 'layouts/base_nav_lateral.html' %}
{% load static %}

{% block nav_lateral %}
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="{% url 'home' %}">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-box-open" style="color: var(--bs-danger);"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Adecar Ltda.</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link" href="{% url 'cotizacion_manual' %}"><i class="fas fa-file-invoice-dollar"></i><span>Cotización</span></a></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'dashboards' %}"><i class="fas fa-chart-bar"></i><span>Dashboard</span></a><a class="nav-link" href="{% url 'lista_historial' %}"><i class="fas fa-history"></i><span>Historial de Cotizaciones</span></a><a class="nav-link active" href="{% url 'mantencion_planchas_form' %}"><i class="fas fa-cog"></i><span>Mantención de Planchas</span></a><a class="nav-link" href="{% url 'mantencion_parametros_form' %}"><i class="fas fa-cog"></i><span>Mantención de Parámetros</span></a><a class="nav-link" href="#"><i class="fas fa-external-link-alt"></i><span>Salir</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>
{% endblock %}

{% block section %}
<div class="container">
    <h2>Agregar Nuevo Cliente</h2>
    <!-- Mostrar mensaje de error si existe -->
    {% if mensaje_exito %}
        <div class="alert alert-success">
            {{ mensaje_exito }}
        </div>
        <script>
            setTimeout(function() {
                window.location.href = "{% url 'cotizacion_manual' %}";
            }, 3000); // Redirige después de 3 segundos
        </script>
    {% else %}
        {% if mensaje_error %}
            <div class="alert alert-danger">
                {{ mensaje_error }}
            </div>
        {% endif %}
        <form method="post" action="{% url 'agregar_cliente' %}" onsubmit="return validarFormularioCliente()">
            {% csrf_token %}
            <div class="form-group">
                <label for="rut_cliente">RUT Cliente:</label>
                <input type="text" class="form-control" id="rut_cliente" name="rut_cliente" placeholder="Ingresa el RUT del cliente" required maxlength="10">
            </div>
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresa el nombre del cliente" required maxlength="50">
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingresa el apellido del cliente" required maxlength="50">
            </div>
            <div class="form-group">
                <label for="correo">Correo Electrónico:</label>
                <input type="email" class="form-control" id="correo" name="correo" placeholder="Ingresa el correo electrónico del cliente" required maxlength="254">
            </div>
            <button type="submit" class="btn btn-primary">Agregar Cliente</button>
        </form>
    {% endif %}
    
</div>

<script>
    function validarFormularioCliente() {
        var rut = document.getElementById('rut_cliente').value;
        var regexRut = /^[0-9]{7,8}-[0-9Kk]$/;

        if (!regexRut.test(rut)) {
            alert('Por favor, ingrese el RUT en el formato correcto (00000000-0).');
            return false;
        }

        // Aquí puedes agregar más validaciones si es necesario

        return true;
    }
</script>
{% endblock %}