{% extends 'layouts/base_nav_lateral.html' %}
{% load static %}


{% block nav_lateral %}
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="{% url 'home' %}">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-box-open" style="color: var(--bs-danger);"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Adecar Ltda.</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link" href="{% url 'cotizacion_manual' %}"><i class="fas fa-file-invoice-dollar"></i><span>Cotización</span></a></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'dashboards' %}"><i class="fas fa-chart-bar"></i><span>Dashboard</span></a><a class="nav-link active" href="{% url 'lista_historial' %}"><i class="fas fa-history"></i><span>Historial de Cotizaciones</span></a><a class="nav-link" href="{% url 'mantencion_planchas_form' %}"><i class="fas fa-cog"></i><span>Mantención de Planchas</span></a><a class="nav-link" href="{% url 'mantencion_parametros_form' %}"><i class="fas fa-cog"></i><span>Mantención de Parámetros</span></a><a class="nav-link" href="#"><i class="fas fa-external-link-alt"></i><span>Salir</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>
{% endblock %}


{% block nav_light %}

{% endblock %}

{% block section %}


<div class="container mt-5">
    <h2 class="mb-4">Historial de cotizaciones</h2>
    <div class="filter-section" style="display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;">
        <select id="filtroEstado">
            <option value="">Todos los Estados</option>
            <option value="Pendiente">Pendiente</option>
            <option value="Aceptado">Aceptado</option>
        </select>
        <label for="filtroFechaInicio">Desde:</label>
        <input type="date" id="filtroFechaInicio">
        <label for="filtroFechaFin">Hasta:</label>
        <input type="date" id="filtroFechaFin">
        <label for="filtroRut">RUT Cliente:</label>
        <input type="text" id="filtroRut" placeholder="Sin puntos y con guión">
        <button onclick="filtrarHistorial()">Filtrar</button>
        <button onclick="borrarFiltros()">Borrar filtros</button>
        <button onclick="descargarExcel()" class="excel-button">
            <i class="fas fa-file-excel"></i> Descargar a Excel
        </button>
    </div>
    <table class="table table-bordered table-hover" id="historialTabla">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>RUT</th>
                <th>Nombre Cliente</th>
                <th>Fecha Cotización</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% if historial %}
                {% for historia in historial %}
                <tr>
                    <td>{{ historia.id_cotizacion }}</td>
                    <td>{{ historia.rut_cliente_id }}</td>
                    <td>{{ historia.nombre_cliente }} {{ historia.apellido_cliente }}</td>
                    <td>{{ historia.fecha_cotizacion }}</td>
                    <td>{{ historia.estado }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">No existen cotizaciones para mostrar</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if historial.has_previous %}
                <a href="?page=1">&laquo; primera</a>
                <a href="?page={{ historial.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ historial.number }} de {{ historial.paginator.num_pages }}.
            </span>

            {% if historial.has_next %}
                <a href="?page={{ historial.next_page_number }}">siguiente</a>
                <a href="?page={{ historial.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    function filtrarHistorial() {
        var estado = document.getElementById('filtroEstado').value;
        var fechaInicio = document.getElementById('filtroFechaInicio').value ? new Date(document.getElementById('filtroFechaInicio').value) : null;
        var fechaFin = document.getElementById('filtroFechaFin').value ? new Date(document.getElementById('filtroFechaFin').value) : null;
        var rutCliente = document.getElementById('filtroRut').value;
    
        var filas = document.querySelectorAll('#historialTabla tbody tr');
    
        filas.forEach(function(row) {
            var estadoFila = row.querySelector('td:nth-child(5)').textContent.trim();
            var fechaTexto = row.querySelector('td:nth-child(4)').textContent.trim();
            var rutFila = row.querySelector('td:nth-child(2)').textContent.trim();
    
            // Parsea la fecha en español a un objeto Date de JavaScript
            var fechaFila = parsearFechaEspañol(fechaTexto);
    
            var mostrarFila = true;
    
            if (estado && estado !== estadoFila) {
                mostrarFila = false;
            }
    
            if (fechaInicio && fechaFila < fechaInicio) {
                mostrarFila = false;
            }
    
            if (fechaFin && fechaFila > fechaFin) {
                mostrarFila = false;
            }
    
            if (rutCliente && !rutFila.includes(rutCliente)) {
                mostrarFila = false;
            }
    
            row.style.display = mostrarFila ? '' : 'none';
        });
    }
    
    function parsearFechaEspañol(fechaTexto) {
        var partes = fechaTexto.match(/(\d{1,2}) de (\w+) de (\d{4})/);
        var dias = partes[1];
        var mes = {
            enero: 0, febrero: 1, marzo: 2, abril: 3, mayo: 4, junio: 5,
            julio: 6, agosto: 7, septiembre: 8, octubre: 9, noviembre: 10, diciembre: 11
        }[partes[2].toLowerCase()];
        var año = partes[3];
    
        return new Date(año, mes, dias);
    }
    function borrarFiltros() {
        // Restablecer los valores de los inputs
        document.getElementById('filtroEstado').value = '';
        document.getElementById('filtroFechaInicio').value = '';
        document.getElementById('filtroFechaFin').value = '';
        document.getElementById('filtroRut').value = '';

        // Mostrar todas las filas
        var filas = document.querySelectorAll('#historialTabla tbody tr');
        filas.forEach(function(row) {
            row.style.display = '';
        });
    }
    function descargarExcel() {
        window.location.href = '/descargar_excel_historial';
    }
</script>
{% endblock %}
