{% extends 'layouts/base_cc.html' %}

{% block main %}
<div class="menu-buttons">
    <div class="menu-button">
        <button type="button" class="btn btn-secondary btn-lg btn-block" disabled>Cotizaciones</button>
    </div>
    <div class="menu-button">
        <button type="button" class="btn btn-secondary btn-lg btn-block" disabled>Historial de Cotizaciones</button>
    </div>
    <div class="menu-button">
        <button type="button" class="btn btn-secondary btn-lg btn-block" disabled>Mantención</button>
    </div>
    <div class="menu-button">
        <button type="button" class="btn btn-secondary btn-lg btn-block" disabled>Cotizaciones Pendientes</button>
    </div>
</div>
{% endblock %}