{% extends 'layouts/base_nav_lateral.html' %}
{% load static %}


{% block nav_lateral %}
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-box-open" style="color: var(--bs-danger);"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Adecar Ltda.</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link" href="{% url 'cotizacion_manual' %}"><i class="fas fa-file-invoice-dollar"></i><span>Cotización</span></a></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item"><a class="nav-link" href="register.html"><i class="fas fa-th-list"></i><span>Cotizaciones Pendientes</span></a><a class="nav-link" href="profile.html"><i class="fas fa-history"></i><span>Historial de Cotizaciones</span></a><a class="nav-link active" href="{% url 'mantencion_planchas_form' %}"><i class="fas fa-cog"></i><span>Mantención de Planchas</span></a><a class="nav-link" href="{% url 'mantencion_parametros_form' %}"><i class="fas fa-cog"></i><span>Mantención de Parámetros</span></a><a class="nav-link" href="login.html"><i class="fas fa-external-link-alt"></i><span>Salir</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>
{% endblock %}


{% block nav_light %}

{% endblock %}

{% block section %}


<div class="container mt-5">
    <h2 class="mb-4">Planchas</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Largo de Plancha</th>
                <th>Ancho de Plancha</th>
                <th>Área de Plancha</th>
                <th>Tipo de Cartón</th>
                <th>Precio de Proveedor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if planchas %}
                {% for plancha in planchas %}
                <tr>
                    <td>{{ plancha.id_tipo_plancha }}</td>
                    <td>{{ plancha.largo|floatformat:0 }}</td>
                    <td>{{ plancha.ancho|floatformat:0 }}</td>
                    <td>{{ plancha.alto|floatformat:0 }}</td>
                    <td>{{ plancha.cod_carton }}</td>
                    <td>{{ plancha.precio_proveedor }}</td>
                    <td>
                        <a href="{% url 'editar_plancha' plancha.id_tipo_plancha %}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{% url 'eliminar_plancha' plancha.id_tipo_plancha %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">No hay planchas para mostrar</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<div class="container mt-5">
    <!-- Botón para crear un nuevo parámetro -->
    <a href="{% url 'crear_plancha' %}" class="btn btn-success mb-3">Ingresar nueva plancha</a>
    
    <!-- Aquí va tu tabla existente -->
</div>
{% endblock %}
{% block js %}
{% endblock %}
