{% load static %}
<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% include 'layouts/partials/navbar.html' %}
    <main>{% block main %}{% endblock %}</main>
    <!-- Encabezado con logotipo centrado -->
<header class="text-center">
    <!-- Utiliza la etiqueta img para mostrar el logotipo desde tu carpeta 'static' -->
    <img src="{% static 'Sistemas\Core\static\img\cropped-adecarlogoweb.png' %}" alt="Tu Logo">
</header>
<!-- Contenido principal -->
<div class="container">
    <!-- Aquí puedes agregar el contenido principal de tu página -->
</div>
<!-- Pie de página -->
<footer class="text-center">
    <p>JOSEFE</p>
</footer>
<!-- Enlaza los archivos JavaScript de Bootstrap (opcional) -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>