{% load static %}
<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!--ENCABEZADO-->
    <header>
        <!-- Barra de navegación (puedes personalizarla según tus necesidades) -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <!-- Logotipo centrado desde tu carpeta 'static' -->
                    <img src="{% static 'img/logo.png' %}" alt="Tu Logo" class="mx-auto d-block">
                </a>
            </div>
        </nav>
    </header>
    {% include 'layouts/partials/navbar.html' %}
    <main>{% block main %}{% endblock %}</main>
     <!-- Pie de página -->
    <footer class="text-center py-4">
        <p>JOSEFE</p>
    </footer>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>