{% extends 'layouts/base_nav_lateral.html' %}
{% load static %}


{% block nav_lateral %}
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="{% url 'home' %}">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-box-open" style="color: var(--bs-danger);"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Adecar Ltda.</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link active" href="{% url 'cotizacion_manual' %}"><i class="fas fa-file-invoice-dollar"></i><span>Cotización</span></a></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'dashboards' %}"><i class="fas fa-chart-bar"></i><span>Dashboard</span></a><a class="nav-link" href="{% url 'lista_historial' %}"><i class="fas fa-history"></i><span>Historial de Cotizaciones</span></a><a class="nav-link" href="{% url 'mantencion_planchas_form' %}"><i class="fas fa-cog"></i><span>Mantención de Planchas</span></a><a class="nav-link" href="{% url 'mantencion_parametros_form' %}"><i class="fas fa-cog"></i><span>Mantención de Parámetros</span></a><a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-external-link-alt"></i><span>Salir</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>
{% endblock %}

{% block section %}
<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nombre cliente:</th>
                                        <th>{{nombre_cliente}} {{apellido_cliente}}</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th>Medidas de caja:</th>
                                        <th>{{largostr}} x {{anchostr}} x {{altostr}} (mm)</th>
                                    </tr>
                                    <tr>
                                        <th>Tipo de cartón:</th>
                                        <th>{{tipo_carton}}</th>
                                    </tr>
                                    <tr>
                                        <th>Cantidad:</th>
                                        <th>{{cantidad}} unidades</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Plancha a utilizar:</td>
                                        <td>{{plancha_necesaria.largo}} x {{plancha_necesaria.ancho}} (mm), {{plancha_necesaria.cod_carton}}</td>
                                    </tr>
                                    <tr>
                                        <td>Precio plancha:</td>
                                        <td>${{api_precio_plancha}} pesos/hoja</td>
                                    </tr>
                                    <tr>
                                        <td>Hoja Madre (Corte):</td>
                                        <td>{{largo_hm_str}} x {{ancho_hm_str}} (mm)</td>
                                    </tr>
                                    <tr>
                                        <td>Excedente vertical:</td>
                                        <td>{{excedente_vertical}}</td>
                                    </tr>
                                    <tr>
                                        <td>Excedente horizontal:</td>
                                        <td>{{excedente_horizontal}}</td>
                                    </tr>
                                    <tr>
                                        <td>Cajas por hoja:</td>
                                        <td>{{total_cajas_por_plancha}}</td>
                                    </tr>
                                    <tr>
                                        <td>Costo excedente vertical:</td>
                                        <td>${{costo_ex_vertical}}</td>
                                    </tr>
                                    <tr>
                                        <td>Costo excedente horizontal:</td>
                                        <td>${{costo_ex_horizontal}}</td>
                                    </tr>
                                    <tr>
                                        <td>Precio costo por unidad:</td>
                                        <td>${{costo_por_unidad}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" id="porcentaje" placeholder="Ingresa el porcentaje">
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="number" class="form-control" id="precio_final" placeholder="Precio final" disabled>
                                </div>
                            </div>
                        </div>
                        <div style="text-align: center;">
                            <button type="button" class="btn btn-primary btn-sm">Generar cotización</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Adecar - Cálculo y Cotizaciones 2023</span></div>
            </div>
        </footer>
    </div>
</div>

{% endblock %}



{% block main %}

{% endblock %}


{% block footer %}
<div class="container my-auto">
    <div class="text-center my-auto copyright"><span>Copyright © Adecar - Cálculo y Cotizaciones 2023</span></div>
</div>
{% endblock %}

{% block js %}
<script>
    document.getElementById('porcentaje').addEventListener('input', function() {
        var porcentaje = this.value;
        
        // Validación para asegurar que sea un número positivo y no más de 4 dígitos
        if (porcentaje < 0 || porcentaje.length > 4) {
            alert("Por favor, ingresa un número positivo de no más de 4 dígitos.");
            this.value = ''; // Limpiar el campo de porcentaje
            document.getElementById('precio_final').value = '';
            return; // Salir de la función si la validación falla
        }

        porcentaje = parseFloat(porcentaje);
        var precioBase = {{ costo_por_unidad }}; // Esto lo pasas desde Django
        var precioFinal = precioBase + (precioBase * (porcentaje / 100));
        document.getElementById('precio_final').value = precioFinal.toFixed(2);
    });
</script>
{% endblock %}
